# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
flutter_export_environment.sh

# IDE
.vscode/
.idea/
*.iml

# iOS/Xcode
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig

# Android/Gradle
android/.gradle/
android/app/build/

# Web
web/.dart_tool/
web/build/

# Misc
*.log
*.tmp
*.swp
*.DS_Store
